{% extends 'base_layer.html' %}
{% block content %}
<body>
    <div class="alert alert-info" role="alert" style="font-size:x-large;">
        Technical_skills
    </div>
    <div class="container marketing">
    <div class="tech_skills">
        <ul class="list-group">
        {% for skills in tech_skills %}
            <div class="skills">
                <li class="list-group-item d-flex justify-content-between align-items-center"></lili>
                {{skills.title}}test
                <span class="badge badge-primary badge-pill">Level: {{skills.show}}</span>
                </li>
            </div>
        {% endfor %}
        </ul>
    </div>
    </div>
</body>

{% endblock %}