{% extends 'base_layer.html' %}
{% block content %}
<body>
    <div class="alert alert-info" role="alert" style="font-size:x-large;">
        Interests
    </div>
    <div class="container marketing">
    <div class="Interest">
        <ul class="list-group">
        {% for hobby in Interest %}
            <div class="hobby">
                <li class="list-group-item d-flex justify-content-between align-items-center"></lili>
                {{hobby.Hobby}} 
                <span class="badge badge-primary badge-pill">Rank: {{hobby.rank}}</span>
                </li>
            </div>
        {% endfor %}
        </ul>
    </div>
    </div>
</body>

{% endblock %}
