{% extends 'base_layer.html' %}
{% block content %}
<!DOCTYPE html>
<body>
    <button type="button" class="btn btn-info">
        <h1>Interest</h1>
    </button>
    <div class="Interest">
        <ul class="list-group"></ul>
        {% for hobby in Interest %}
            <div class="hobby">
                <li class="list-group-item d-flex justify-content-between align-items-center"></lili>
                {{hobby.Hobby}}
                <span class="badge badge-primary badge-pill">Rank: {{hobby.rank}}</span>
                </li>
            </div>
        {% endfor %}
    </div>
</body>

{% endblock %}
