{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Bio Page</title>
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light avbar-dark bg-primary ">
    <a class="navbar-brand" href="#">More about me</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Technical Skills</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Soft Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CV</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Certification</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            APIs
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Interest</a>
        </li>
      </ul>
    </div>
    <script src="bootstrap.bundle.min.js"></script>
  </nav>
  
</html>